@CHARSET "UTF-8";
body{
	background:url(../image/27bOOOPICda.jpg);
	background-size:cover;	
}
p{
	text-align:justify;
	text-justify:inter-ideograph
}
#edit{
	margin:0px auto;
	margin-top:200px;
	width:290px;
	height:150px;
}
#edit #confirm{
	float:left;
	margin-left:110px;
}
#edit #cancel{
	float:right;
	margin-right:35px;
}