<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iflytek.bxpt.mapper.AdminMapper">

  <select id="isExists" resultType="boolean">
 select * from User_tb where username=#{username} and password=#{password}
  </select> 
  
  <select id="searchPasswsordByEmail" resultType="Admin">
  select username,password,email from User_tb where email=#{email}
  </select>
  
  <select id="queryAll" resultType="Admin">
  select * from User_tb
  </select>
</mapper>